@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {

  box-sizing: border-box;
}

@layer components {
  .customScroll {

    &::-webkit-scrollbar {
      width: 10px;
      height: 20px;
    }

    &scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: lab(8.11897% .811279 -12.254);
    }

    &::-webkit-scrollbar-thumb {
      background: lab(8.11897% .811279 -12.254);
      
      border: 1px solid #f6f7ed;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: lab(8.11897% .811279 -12.254);
    }
  }
}